* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #F2F2F2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #007BA7;
    height: 80px;
    width: 100vw;
    z-index: 100;
}
nav .nav-icon2 {
    margin: 20px;
    background: url("/static/9c9e529b14731be871b07b89660bbc2a-_1_.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}
nav .nav-icon1 {
    margin: 20px;
    background: url("/static/isbjørn.gif");
    height: 50px;
    width: 50px;
}

nav .nav-icon3{
    margin: 20px;
    background: url(/static/GTA-SA-GSF-Unknown-SkinPack-on-planetminecraft-com.png);
    height: 50px;
    width: 50px;
}
nav .nav-icon {
    margin: 20px;
    background: url("/static/bjrønebildeasd-removebg-preview.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}

nav .nav-items {
    display: flex;
    margin: 20px;
    align-items: center;
}

nav .nav-items .nav-item {
    margin: 15px;
    text-decoration: none;
    color: black;
    font-family:"Bodoni MT";
}

txt .txt{
    color: #333333;
    position: fixed;
    padding-top: 85px;
    font-family: "Bodoni MT";
    padding-left: 10px;
}

main{
    padding-left: 10px;
    margin-top: 200px;
    position: fixed;
    z-index: 101;
    font-family: "Bodoni MT";
    font-size: 18px;
}

#clock {
    font-size: 30px;
    width: 200px;
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    color: #FF6B6B;
    text-decoration: none;
}

.roblox-gif{
    margin: 20px;
    height: 500px;
    width: 500px;
    background-size:cover ;
    background: url("/static/giphy.gif");
    position: fixed;
    margin-left: 1000px;
    margin-top: 100px;
}